:root {
  ---fixedPhotoHeight: 518.4px;
  ---fixedPhotoWidth: 407.35px;

  --fixedFrameWidth: 1024px;
  --fixedFrameHeight: 1366px;
  --fixedIntroFont: 5rem;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: white;
  font-family: monospace;
}

body {
  background-color: #191627;
  width: 65vw;
  margin: 2rem auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

header #logo {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.15rem;
}

header ul#header-socials {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

section {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}

.info {
  padding-top: 2rem;
  width: 100%;
}

#exclamation {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.intro {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#intro-ss {
  display: none;
}

#skill-desc {
  font-size: 2.25rem;
  background: linear-gradient(62deg, #ea5fb3, #bd49da, #913ef1, #f87777);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 5s ease infinite;
  background-size: 200% 200%;
}

#seperator {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

#prev-experience {
  font-size: 1.75rem;
  margin-bottom: 3rem;
}

.body-socials {
  display: flex;
  gap: 4rem;
  margin-bottom: 2rem;
}

#project-button {
  background: linear-gradient(to right, #647dee, #7f53ac, #9a3ad5, #1fd1f9);
  width: 15rem;
  height: 4rem;
  border-radius: 5rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Animations/transforms */

img {
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

img:hover {
  transform: scale(1.15);
}

.my-photo img:hover {
  transform: scale(1.05);
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 5px #6e57e0, 0 0 10px #6e57e0;
  }
  50% {
    box-shadow: 0 0 10px #bd49da, 0 0 20px #bd49da;
  }
}

button#project-button:hover {
  animation: glow 1.5s infinite alternate;
}

/* Screens between laptop and tablet */

@media (min-width: 1025px) and (max-width: 1535px) {
  body {
    width: clamp(65vw, calc(100vw - 8rem), 90vw);
    max-width: 90vw; /* Ensures it doesn't exceed 90vw */
    min-width: 65vw; /* Ensures it doesn't shrink below 65vw */
  }
  header {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }

  section {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    display: flex;
  }
}

/* Screens equal to tablet and smaller */
@media (max-width: 1024px) {
  body {
    width: 90vw;
    margin-top: 5%;
  }
  header nav#nav-container {
    width: 100%;
  }
  header #logo {
    display: none;
  }
  #header-socials {
    justify-content: space-between;
    width: 100%;
  }
  #header-socials #resume {
    width: 110%;
    height: 100%;
  }
  #header-socials #gmail {
    width: 100%;
    height: 80%;
  }

  section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 0;
  }

  .info {
    text-align: center;
  }

  #seperator {
    margin-bottom: 2rem;
  }
  #exclamation {
    display: none;
  }

  #intro-ws {
    display: none;
  }
  #intro-ss {
    display: block;
    font-size: 7.5vw;
    margin: auto calc(-50vw + 50%);
  }

  #skill-desc {
    font-size: 4.5vw;
  }

  #seperator {
    font-size: 1.75rem;
  }

  #prev-experience {
    font-size: 3vw;
    margin-bottom: 3rem;
  }

  .body-socials {
    justify-content: center;
  }

  #project-button {
    width: 15rem;
    height: 4rem;
    border-radius: 5rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 540px) {
  #skill-desc {
    font-size: 6vw;
  }

  #prev-experience {
    font-size: 5vw;
    margin-bottom: 3rem;
  }
}

@media (max-width: 370px) {
  body {
    white-space: nowrap;
  }
}
