:root {
  --primary-page-color: #191627; /* Blue */
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: white;
  font-family: monospace;
}

body {
  background-color: #191627;
  min-height: 100vh;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

main header {
  display: flex;
  justify-content: space-between;
  width: 65vw;
  margin: 2rem auto 1rem;
}

main h1 {
  text-align: center;
  font-size: 4rem;
}

main div.cards-container {
  max-height: 65vh;
  width: 100vw;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  align-items: center;
}

main div.cards-container::-webkit-scrollbar {
  display: none;
}

header #logo {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.15rem;
}

header #nav-container ul#header-socials {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

header #nav-container #resume {
  width: 2.6vw;
  height: 6vh;
  min-height: 42px;
  min-width: 40px;
}

header #nav-container #home-button {
  display: none;
}

header #nav-container #gmail {
  width: 2.5vw;
  height: 5vh;
  min-height: 35px;
  min-width: 35px;
}

.cards-container .pr-card {
  min-width: 65vw;
  width: 65vw;
  border: 2px solid rgb(86, 85, 85);
  border-radius: 2rem;
  padding: 1.5rem;
  display: flex;
}

.cards-container .pr-card .pr-img {
  width: 30%;
}

.cards-container .pr-card .pr-img #landscape-orient {
  display: none;
}

.cards-container .pr-card .pr-img #portrait-orient {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  max-height: 23rem;
  object-position: top;
}

.cards-container .pr-card .pr-img {
  transition: transform 0.2s ease-in-out;
}

.cards-container .pr-card .pr-img:hover {
  transform: scale(1.15);
}

.cards-container .pr-card .pr-info {
  width: 70%;
  padding: 0 2rem;
  font-size: 1.5rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cards-container .pr-card .pr-title {
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  background: linear-gradient(to right, #ea5fb3, #bd49da, #913ef1, #f87777);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards-container .pr-card .pr-desc {
  font-family: system-ui;
  font-weight: lighter;
}

.cards-container .pr-card .pr-stack ul {
  display: flex;
  justify-content: left;
  gap: 1.5rem;
}

.cards-container .pr-card .pr-stack img {
  width: 3rem;
  height: 3rem;
}

.cards-container .pr-card .pr-links {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1.5rem;
}

.cards-container .pr-card .pr-links button {
  padding: 1rem;
  background: none;
  border-radius: 1rem;
  cursor: pointer;
  border: 2px solid rgb(86, 85, 85);
  font-size: 1.2rem;
}

.cards-container .pr-card .pr-links .source-icon img {
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  margin-left: 1rem;
}

@media screen and (max-width: 1200px) {
  main header {
    margin: 2rem auto 3rem;
  }

  main h1 {
    font-size: 6vw;
  }

  header #logo {
    display: none;
  }

  header #nav-container {
    width: 100%;
  }

  header ul#header-socials {
    width: 100%;
  }

  header ul#header-socials #resume {
    width: 5.5vw;
    height: 6vw;
  }

  header ul#header-socials #gmail {
    width: 5vw;
    height: 5vw;
  }

  header ul#header-socials #home-button {
    display: block;
    border: none;
    background: transparent;
  }

  header #home-button img {
    width: 5vw;
    height: 5vw;
  }

  .cards-container .pr-card {
    min-width: 45vw;
    width: 45vw;
    flex-direction: column;
  }
  .cards-container .pr-card .pr-img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .cards-container .pr-img #portrait-orient {
    display: none;
  }

  .cards-container .pr-img #landscape-orient {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1rem;
  }

  .cards-container .pr-card .pr-info {
    width: 100%;
    padding: 0;
  }

  .cards-container .pr-card .pr-title {
    text-align: center;
    font-size: 3.5vw;
  }

  .cards-container .pr-card .pr-desc {
    text-align: justify;
    font-size: 2vw;
  }

  .cards-container .pr-card .pr-stack {
    display: flex;
    justify-content: center;
  }

  .cards-container .pr-card .pr-links {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

@media screen and (max-width: 1024px) {
  main h1 {
    font-size: 8vw;
  }

  main div.cards-container {
    top: 55%;
    gap: 3rem;
  }

  header ul#header-socials #resume {
    width: 6.6vw;
    height: 6vh;
    min-height: 42px;
    min-width: 40px;
  }

  header ul#header-socials #home-button img {
    width: 6.5vw;
    height: 5vh;
    min-height: 35px;
    min-width: 35px;
  }

  header ul#header-socials #gmail {
    width: 6.5vw;
    height: 5vh;
    min-height: 35px;
    min-width: 35px;
  }

  .cards-container .pr-card {
    min-width: 60vw;
    width: 60vw;
    flex-direction: column;
  }

  .cards-container .pr-card .pr-title {
    text-align: center;
    font-size: 5.5vw;
  }

  .cards-container .pr-card .pr-desc {
    text-align: justify;
    font-size: 2.5vw;
  }

  .cards-container .pr-card .pr-stack img {
    width: 5vw;
    height: 5vw;
  }

  .cards-container .pr-card .pr-links button {
    font-size: 2vw;
  }
}

@media screen and (max-width: 540px) {
  main header {
    margin: 2rem auto 1rem;
  }

  main .to-center {
    width: 85vw;
  }

  main h1.to-center {
    width: 100%;
    font-size: 10vw;
  }

  header #logo {
    display: none;
  }

  #nav-container {
    width: 100%;
  }

  header ul#header-socials {
    width: 100%;
  }

  main div.cards-container {
    gap: 2rem;
  }

  .cards-container .pr-card {
    min-width: 75vw;
    width: 75vw;
    padding: 4vw;
  }

  .cards-container .pr-card .pr-img #portrait-orient {
    max-height: 55vw;
  }

  .cards-container .pr-card .pr-title {
    font-size: 7.5vw;
  }

  .cards-container .pr-card .pr-desc {
    font-size: 3.8vw;
  }

  .cards-container .pr-card .pr-stack img {
    width: 8vw;
    height: 8vw;
  }

  .cards-container .pr-card .pr-links button {
    font-size: 4vw;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  main header {
    width: 55vw;
  }

  header ul#header-socials #resume {
    width: 5vw;
  }
  header ul#header-socials #home-button img {
    width: 5vw;
  }

  header ul#header-socials #gmail {
    width: 5vw;
  }

  main h1 {
    font-size: 7vw;
  }

  main div.cards-container {
    top: 65%;
  }

  .cards-container .pr-card {
    min-width: 48vw;
    width: 48vw;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  main header {
    margin: 2rem auto 1rem;
  }

  main div.cards-container {
    top: 78%;
  }
}
