:root {
  --primary-page-color: #191627; /* Dark Blue */
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: white;
  font-family: monospace;
}

body {
  background-color: #191627;
  min-height: 100vh;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 65vw;
  margin: 2rem auto 1rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-551px);
  }
}

.marquee-container {
  overflow: hidden;
  position: relative;
  /* border: 1px solid green; */
  width: 40%;
  margin: 0 auto 2rem;
}

.marquee {
  display: flex;
  gap: 3rem;
  width: fit-content;
  animation: scroll 15s linear infinite;
}

.marquee-img {
  margin-top: 5px;
  width: 4rem;
  height: 4rem;
}

.marquee-left {
  z-index: 1000;
  left: -85%;
  top: -5px;
  position: absolute;
  background: linear-gradient(
    to right,
    rgb(25, 22, 39) 80%,
    rgba(25, 22, 39, 0.778) 90%,
    rgba(25, 22, 39, 0.053)
  );
  width: 671px;
  height: 5rem;
}

.marquee-right {
  z-index: 1000;
  left: 70%;
  top: -5px;
  position: absolute;
  background: linear-gradient(
    to left,
    rgb(25, 22, 39) 80%,
    rgba(25, 22, 39, 0.778) 90%,
    rgba(25, 22, 39, 0.053)
  );
  /* border: 1px solid black; */
  width: 671px;
  height: 5rem;
}

.cards-container {
  max-height: 55vh;
  width: 100vw;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 60%;
  transform: translateY(-40%);
  align-items: center;
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.logo {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.15rem;
}

.nav-container__socials {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.socials-resume {
  width: 2.6vw;
  height: 6vh;
  min-height: 42px;
  min-width: 40px;
}

.home-button {
  display: none;
}

.socials-gmail {
  width: 2.5vw;
  height: 5vh;
  min-height: 35px;
  min-width: 35px;
}

.cards-container__card {
  min-width: 65vw;
  width: 65vw;
  border: 2px solid rgb(86, 85, 85);
  border-radius: 2rem;
  padding: 1.5rem;
  display: flex;
}

.cards-container__card-img {
  width: 30%;
  transition: transform 0.2s ease-in-out;
}

.cards-container__card-img:hover {
  transform: scale(1.15);
}

img.landscape-orient {
  display: none;
}

img.portrait-orient {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  max-height: 23rem;
  object-position: top;
}

.cards-container__card-info {
  width: 70%;
  padding: 0 2rem;
  font-size: 1.5rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-info__title {
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  background: linear-gradient(to right, #ea5fb3, #bd49da, #913ef1, #f87777);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-info__desc {
  font-family: system-ui;
  font-weight: lighter;
}

.card-info__stack ul {
  display: flex;
  justify-content: left;
  gap: 1.5rem;
}

.card-info__stack img {
  width: 3rem;
  height: 3rem;
}

.card-info__links {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1.5rem;
}

.card-info__links button {
  padding: 1rem;
  background: none;
  border-radius: 1rem;
  cursor: pointer;
  border: 2px solid rgb(86, 85, 85);
  font-size: 1.2rem;
}

.card-info__links .source-icon img {
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  margin-left: 1rem;
}

@media screen and (max-width: 1200px) {
  /* body {
    background-color: red;
  } */
  header {
    margin: 2rem auto 3rem;
  }

  h1 {
    font-size: 6vw;
  }

  .logo {
    display: none;
  }

  .nav-container {
    width: 100%;
  }

  .nav-container__socials {
    width: 100%;
  }

  .socials-resume {
    width: 5.5vw;
    height: 6vw;
  }

  .socials-gmail {
    width: 3.5vw;
    height: 3.5vh;
  }

  .home-button {
    display: block;
    border: none;
    background: transparent;
  }

  .home-button img {
    width: 5vw;
    height: 5vw;
  }

  .marquee-left {
    width: 25rem;
    left: -50%;
  }

  .marquee-right {
    position: absolute;
    width: 25rem;
    left: 81%;
  }

  .cards-container {
    max-height: 46vh;
    top: 68%;
  }

  .cards-container__card {
    min-width: 45vw;
    width: 45vw;
    flex-direction: column;
  }
  .cards-container__card-img {
    width: 100%;
    margin-bottom: 1rem;
  }

  img.portrait-orient {
    display: none;
  }

  img.landscape-orient {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1rem;
  }

  .cards-container__card-info {
    width: 100%;
    padding: 0;
  }

  .card-info__title {
    text-align: center;
    font-size: 3.5vw;
  }

  .card-info__desc {
    text-align: justify;
    font-size: 2vw;
  }

  .card-info__stack {
    display: flex;
    justify-content: center;
  }

  .card-info__links {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 8vw;
  }

  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-500px);
    }
  }

  .marquee-left {
    width: 25rem;
    left: -65%;
  }

  .marquee-right {
    position: absolute;
    width: 25rem;
    left: 81%;
  }

  .cards-container {
    top: 50%;
    gap: 3rem;
  }

  .socials-resume {
    width: 6.6vw;
    height: 6vh;
    min-height: 42px;
    min-width: 40px;
  }

  .home-button img {
    width: 6.5vw;
    height: 5vh;
    min-height: 35px;
    min-width: 35px;
  }

  .socials-gmail {
    width: 6.5vw;
    height: 4.5vh;
    min-height: 35px;
    min-width: 35px;
  }

  .cards-container__card {
    min-width: 60vw;
    width: 60vw;
    flex-direction: column;
  }

  .card-info__title {
    text-align: center;
    font-size: 5.5vw;
  }

  .card-info__desc {
    text-align: justify;
    font-size: 2.5vw;
  }

  .card-info__stack img {
    width: 5vw;
    height: 5vw;
  }

  .card-info__links button {
    font-size: 2vw;
  }
}

@media screen and (max-width: 540px) {
  header {
    margin: 2rem auto 1rem;
  }

  header.to-center {
    width: 85vw;
  }

  h1.to-center {
    width: 100%;
    font-size: 10vw;
  }

  .logo {
    display: none;
  }

  .nav-container {
    width: 100%;
  }

  .nav-container__socials {
    width: 100%;
  }

  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-450px);
    }
  }

  .marquee {
    animation: scroll 12s -3s linear infinite;
  }

  .marquee-container {
    margin-bottom: 0;
  }

  .marquee-left {
    width: 10rem;
    left: -80%;
  }

  .marquee-right {
    position: absolute;
    width: 15rem;
    left: 81%;
  }

  .marquee-img {
    height: 3rem;
    width: 3rem;
  }

  .cards-container {
    gap: 2rem;
    top: 52%;
  }

  .cards-container__card {
    min-width: 70vw;
    width: 70vw;
    padding: 4vw;
  }

  img.portrait-orient {
    display: none;
  }

  img.landscape-orient {
    display: block;
    max-height: 55vw;
  }

  .card-info__title {
    font-size: 7.5vw;
  }

  .card-info__desc {
    font-size: 3.8vw;
  }

  .card-info__stack img {
    width: 8vw;
    height: 8vw;
  }

  .card-info__links button {
    font-size: 4vw;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .marquee-img {
    width: 3rem;
    height: 3rem;
  }
  .marquee-container {
    top: -5vh;
  }
  .marquee-left {
    left: -25%;
    width: 10rem;
  }

  header {
    width: 55vw;
  }

  .socials-resume {
    width: 5vw;
  }
  .home-button img {
    width: 5vw;
  }

  .socials-gmail {
    width: 5vw;
  }

  h1 {
    font-size: 7vw;
  }

  .cards-container {
    top: 65%;
  }

  .cards-container__card {
    min-width: 48vw;
    width: 48vw;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  header {
    margin: 2rem auto 1rem;
  }

  .cards-container {
    top: 78%;
  }
}
