:root {
  --primary-page-color: #191627; /* Blue */
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: white;
  font-family: monospace;
}

body {
  background-color: var(--primary-page-color);
  width: 65vw;
  margin: 2rem auto;
}

img {
  border-radius: 8px;
  transition: transform 0.25s ease-in-out;
}

img:hover {
  transform: scale(1.25);
}

main header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

main section {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}

header #logo {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.15rem;
}

header #nav-container ul#header-socials {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

header #nav-container #resume {
  width: 2.6vw;
  height: 6vh;
  min-height: 42px;
  min-width: 40px;
}

header #nav-container #home-button {
  display: none;
}

header #nav-container #gmail {
  width: 2.5vw;
  height: 5vh;
  min-height: 35px;
  min-width: 35px;
}

section #info {
  padding-top: 2rem;
  width: 100%;
}

section #info #desc #exclamation {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

section #desc .intro {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

section #desc #intro-ss {
  display: none;
}

section #desc #skill-desc {
  font-size: 2.25rem;
  background: linear-gradient(62deg, #ea5fb3, #bd49da, #913ef1, #f87777);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 5s ease infinite;
  background-size: 200% 200%;
}

section #desc #seperator {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

section #desc #prev-experience {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

section #info #body-socials {
  display: flex;
  gap: 4rem;
  margin-bottom: 2rem;
}

section #body-socials img.social-links {
  height: 3rem;
  width: 3rem;
}

section #info #project-button {
  background: linear-gradient(to right, #647dee, #7f53ac, #9a3ad5, #1fd1f9);
  width: 15rem;
  height: 4rem;
  border-radius: 5rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 5px #6e57e0, 0 0 10px #6e57e0;
  }
  50% {
    box-shadow: 0 0 10px #bd49da, 0 0 20px #bd49da;
  }
}

section #info button#project-button:hover {
  animation: glow 1.5s infinite alternate;
}

section .my-photo img {
  width: 100%;
  height: auto;
}

section .my-photo img:hover {
  transform: scale(1.05);
}

/* Screens between laptop and tablet */

@media screen and (min-width: 1025px) and (max-width: 1535px) {
  body {
    width: clamp(65vw, calc(100vw - 8rem), 90vw);
    max-width: 90vw; /* Ensures it doesn't exceed 90vw */
    min-width: 65vw; /* Ensures it doesn't shrink below 65vw */
  }
  main header {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }

  header #logo {
    font-size: 2vw;
  }

  header #nav-container ul#header-socials #resume {
    width: 4vw;
    height: 5.5vh;
  }

  header ul#header-socials #gmail {
    width: 3.5vw;
    height: 3.5vh;
  }

  main section {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    display: flex;
  }

  section #info #desc #skill-desc {
    font-size: 2.5vw;
  }

  section #desc #prev-experience {
    font-size: 1.8vw;
  }

  section .my-photo img {
    width: 100%;
    height: auto;
  }
}

/* Screens between tablet and mobile */
@media (max-width: 1024px) {
  body {
    width: 90vw;
    margin-top: 5%;
  }
  header nav#nav-container {
    width: 100%;
  }
  header #logo {
    display: none;
  }
  header #nav-container #header-socials {
    width: 100%;
    align-items: center;
  }

  header #nav-container #home-button {
    display: block;
    background: transparent;
    border: none;
  }

  header #home-button img {
    width: 5vw;
    height: 4.5vh;
    min-height: 42px;
    min-width: 40px;
  }

  header #nav-container #resume {
    width: 5.8vw;
    height: 5.5vh;
    min-height: 42px;
    min-width: 40px;
  }

  header #nav-container #gmail {
    width: 4.8vw;
    height: 4vh;
    min-height: 35px;
    min-width: 35px;
  }

  section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 0;
  }

  section #info {
    text-align: center;
  }

  section #desc #exclamation {
    display: none;
  }

  section #desc #intro-ws {
    display: none;
  }
  section #desc #intro-ss {
    display: block;
    font-size: 7.5vw;
    margin: auto calc(-50vw + 50%);
  }

  section #desc #skill-desc {
    font-size: 4vw;
  }

  section #desc #seperator {
    font-size: 1.75rem;
  }

  section #desc #prev-experience {
    font-size: 3vw;
    margin-bottom: 3rem;
  }

  section #info #body-socials {
    justify-content: center;
  }

  section #body-socials img.social-links {
    height: 4vh;
    width: 4.5vw;
  }

  section #info #project-button {
    width: 22vw;
    height: 7vw;
    font-size: 2.2vw;
    border-radius: 5rem;
  }

  section .my-photo {
    width: 40vw;
    max-width: 317px;
    max-height: 402px;
  }

  section .my-photo img {
    width: 100%;
    height: auto;
  }
}

/* Screens between tablet and mobile */
@media screen and (max-width: 1024px) and (orientation: landscape) {
  section #body-socials img.social-links {
    height: 10vh;
    width: 4.5vw;
  }
}

/* Screens equal to mobile */
@media screen and (max-width: 540px) {
  header #nav-container #gmail {
    width: 9.8vw;
    height: 3vh;
    min-height: 35px;
    min-width: 35px;
  }

  main section {
    padding-top: 2vw;
  }
  section #desc #skill-desc {
    font-size: 5.5vw;
  }

  section #desc #prev-experience {
    font-size: 4.5vw;
    margin-bottom: 3rem;
  }

  section #body-socials img.social-links {
    height: 5vh;
    width: 8vw;
  }

  section #info #body-socials {
    gap: 10vw;
  }

  section #info #project-button {
    width: 35vw;
    height: 10vw;
    font-size: 3.5vw;
  }

  section .my-photo {
    width: 50vw;
    max-width: 317px;
    max-height: 402px;
  }

  section .my-photo img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 300px) {
  body {
    white-space: nowrap;
  }
}
