:root {
  --primary-page-color: #191627; /* Blue */
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: white;
  font-family: monospace;
}

body {
  background-color: var(--primary-page-color);
  width: 65vw;
  margin: 2rem auto;
}

img {
  border-radius: 8px;
  transition: transform 0.25s ease-in-out;
}

img:hover {
  transform: scale(1.25);
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

section {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  margin-bottom: 4rem;
}

.logo {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.15rem;
}

.nav-container__socials {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.socials-resume {
  width: 2.6vw;
  height: 6vh;
  min-height: 42px;
  min-width: 40px;
}

.home-button {
  display: none;
}

.socials-gmail {
  width: 2.5vw;
  height: 5vh;
  min-height: 35px;
  min-width: 35px;
}

.info {
  padding-top: 2rem;
  width: 100%;
}

.desc-exclamation {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.desc-intro {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.intro-ss {
  display: none;
}
.intro-ws {
  display: block;
}

.desc-skill {
  font-size: 2.25rem;
  background: linear-gradient(62deg, #ea5fb3, #bd49da, #913ef1, #f87777);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 5s ease infinite;
  background-size: 200% 200%;
}

.desc-seperator {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.prev-experience {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.section-socials {
  display: flex;
  gap: 4rem;
  margin-bottom: 2rem;
}

img.social-links {
  height: 3rem;
  width: 3rem;
}

.project-button {
  background: linear-gradient(to right, #647dee, #7f53ac, #9a3ad5, #1fd1f9);
  width: 15rem;
  height: 4rem;
  border-radius: 5rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 5px #6e57e0, 0 0 10px #6e57e0;
  }
  50% {
    box-shadow: 0 0 10px #bd49da, 0 0 20px #bd49da;
  }
}

.project-button:hover {
  animation: glow 1.5s infinite alternate;
}

.my-photo {
  position: relative;
}

.my-photo img.my-photo__image {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}

.play-btn-container {
  display: flex;
  align-items: center;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

.my-photo__play-btn {
  opacity: 0.85;
  width: 50%;
  height: 35%;
  margin: 0 auto;
}

.my-photo img.my-photo__play-btn:hover {
  transform: scale(1.25);
  cursor: pointer;
}

/* Video Modal */
.video-modal {
  z-index: 5;
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

/* Video Container */
.video-container {
  position: relative;
  width: 80%;
  max-width: 600px;
}

/* Video Styling */
video {
  width: 100%;
  border-radius: 8px;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-851px);
  }
}

.marquee-container {
  overflow: hidden;
  position: relative;
  /* border: 1px solid green; */
  width: 65vw;
  /* margin: 0 auto 2rem; */
}

.marquee {
  display: flex;
  gap: 4rem;
  width: fit-content;
  animation: scroll 18s linear infinite;
}

.marquee-img {
  margin-top: 5px;
  min-width: 4rem;
  max-width: 6rem;
  height: 4rem;
  opacity: 0.5;
}

.marquee-left {
  z-index: 2;
  left: -45%;
  top: -5px;
  position: absolute;
  background: linear-gradient(
    to right,
    rgb(25, 22, 39) 80%,
    rgba(25, 22, 39, 0.778) 90%,
    rgba(25, 22, 39, 0.053)
  );
  width: 671px;
  height: 5rem;
}

.marquee-right {
  z-index: 2;
  left: 75%;
  top: -5px;
  position: absolute;
  background: linear-gradient(
    to left,
    rgb(25, 22, 39) 80%,
    rgba(25, 22, 39, 0.778) 90%,
    rgba(25, 22, 39, 0.053)
  );
  /* border: 1px solid black; */
  width: 671px;
  height: 5rem;
}

section#work-experience {
  display: block;
  margin-bottom: 3rem;
}

.list-component {
  border-left: 1px solid gray;
  list-style: none;
  margin: 0 auto;
  margin-left: 8rem;
  width: 90%;
  padding-top: 1rem;
}

.list-component__item {
  background: url(https://www.computerhope.com/issues/pictures/bullet.gif)
    no-repeat top left;
  background-position: top left;
  padding: 0rem 3rem;
  margin-left: 3.2rem;
  position: relative;
  right: 4.2rem;
  margin-bottom: 1rem;
  top: 1rem;
}

.list-component__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3rem;
  position: relative;
  bottom: 1.5rem;
}

.list-component__card-year {
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.list-component__card-title {
  text-decoration: underline;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
}

.list-component__card-desc {
  color: gray;
}

u {
  text-decoration: underline;
  font-weight: bold;
}

.list-component__card-desc li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style: disc;
  text-align: justify;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.list-component__skills {
  font-size: 1.5rem;
}

.list-component__skills > p:first-child {
  text-decoration: underline;
  margin: 0.5rem 0;
}

.list-component__skills .skills-list {
  color: #bc6eed;
}

.projects {
  width: 100%;
}

.projects h1,
h1.work-experience {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.project-group {
  margin-bottom: 2rem;
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  margin: 1rem;
  width: 10rem;
  height: 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

input[type="radio"]:checked + label {
  background-color: #3f5bda;
}

input[type="radio"]:not(:checked) + label {
  background-color: #9a3ad5;
}

.cards-container__card {
  max-height: 45vh;
  height: 45vh;
  min-width: 65vw;
  width: 65vw;
  border: 2px solid rgb(86, 85, 85);
  border-radius: 2rem;
  padding: 1.5rem;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 3rem;
}

.cards-container__card-img {
  width: 30%;
  transition: transform 0.2s ease-in-out;
}

img:hover {
  transform: scale(1.1);
}

img.landscape-orient {
  display: none;
}

img.portrait-orient {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  height: 20.5rem;
  max-height: 20.5rem;
  object-position: top;
}

.cards-container__card-info {
  width: 70%;
  padding: 0 2rem;
  font-size: 1.5rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-info__title {
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  background: linear-gradient(to right, #ea5fb3, #bd49da, #913ef1, #f87777);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-info__desc {
  font-family: system-ui;
  font-weight: lighter;
}

.card-info__stack ul {
  display: flex;
  justify-content: left;
  gap: 1.5rem;
}

.card-info__stack img {
  width: 3rem;
  height: 3rem;
}

.card-info__links {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1.5rem;
}

.card-info__links button {
  display: flex;
  padding: 1rem;
  background: none;
  border-radius: 1rem;
  cursor: pointer;
  border: 2px solid rgb(86, 85, 85);
  font-size: 1.2rem;
}

.card-info__links .source-icon img {
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  margin-left: 1rem;
}

div.cards-container__card {
  display: none;
}

input[type="radio"]#featured:checked ~ .featured {
  display: flex;
}

input[type="radio"]#golang:checked ~ .golang {
  display: flex;
}

input[type="radio"]#javascript:checked ~ .javascript {
  display: flex;
}

input[type="radio"]#vibe:checked ~ .vibe {
  display: flex;
}

/* Screens between laptop and tablet */

@media screen and (min-width: 1025px) and (max-width: 1535px) {
  body {
    width: clamp(65vw, calc(100vw - 8rem), 90vw);
    max-width: 90vw; /* Ensures it doesn't exceed 90vw */
    min-width: 65vw; /* Ensures it doesn't shrink below 65vw */
  }
  header {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }

  .logo {
    font-size: 2vw;
  }

  .socials-resume {
    width: 4.5vw;
    height: 5vw;
  }

  .socials-gmail {
    width: 4vw;
    height: 4vh;
  }

  section {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    display: flex;
  }

  .desc-skill {
    font-size: 2.5vw;
  }

  .prev-experience {
    font-size: 1.8vw;
  }

  section .my-photo img {
    width: 65%;
    height: auto;
  }

  .marquee-container {
    width: 80%;
    margin: 0 auto;
  }

  .marquee-right {
    left: 66%;
  }

  .cards-container__card-img {
    width: 35%;
  }

  .cards-container__card {
    max-height: 40vh;
    height: auto;
    min-width: 72vw;
    width: 65vw;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  img.portrait-orient {
    max-height: 21vh;
    height: 21vh;
  }
}

/* Screens between tablet and mobile */
@media screen and (max-width: 1024px) {
  body {
    width: 90vw;
    margin-top: 5%;
  }
  .nav-container {
    width: 100%;
  }
  .logo {
    display: none;
  }
  .nav-container__socials {
    width: 100%;
    align-items: center;
  }

  .home-button {
    display: block;
    background: transparent;
    border: none;
  }

  .home-button img {
    width: 5.5vw;
    height: 4.5vh;
    min-height: 35px;
    min-width: 35px;
  }

  .socials-resume {
    width: 6.6vw;
    height: 5vh;
    min-height: 42px;
    min-width: 40px;
  }

  .socials-gmail {
    width: 6.5vw;
    height: 4.5vh;
    min-height: 35px;
    min-width: 35px;
  }

  section#information {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8rem;
    margin-bottom: 4rem;
    padding-top: 0;
  }

  .info {
    text-align: center;
    padding-top: 5rem;
  }

  .desc-exclamation {
    display: none;
  }

  .intro-ws {
    display: none;
  }
  .intro-ss {
    display: block;
    font-size: 7.5vw;
    margin: auto calc(-50vw + 50%);
  }

  .desc-skill {
    font-size: 4vw;
  }

  .desc-seperator {
    font-size: 1.75rem;
  }

  .prev-experience {
    font-size: 3vw;
    margin-bottom: 3rem;
  }

  .section-socials {
    justify-content: center;
  }

  img.social-links {
    height: 4vh;
    width: 4.5vw;
  }

  .project-button {
    width: 22vw;
    height: 7vw;
    font-size: 2.2vw;
    border-radius: 5rem;
  }

  .my-photo {
    width: 40vw;
    max-width: 317px;
    max-height: 402px;
  }

  .my-photo img.my-photo__image {
    width: 100%;
    height: auto;
  }

  .my-photo__play-btn {
    opacity: 0.85;
    width: 65%;
    height: 50%;
    margin: 0 auto;
  }

  .marquee-container {
    width: 80%;
    margin: 0 auto;
  }

  .marquee-left {
    left: -14%;
    width: 180px;
  }

  .marquee-right {
    left: 75%;
    width: 185px;
  }

  section#projects {
    width: 70vw;
    margin: 0 auto;
  }

  .cards-container__card-img {
    width: 35%;
  }

  .cards-container__card {
    max-height: 25vh;
    height: 25vh;
    min-width: 72vw;
    width: 65vw;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  img.portrait-orient {
    max-height: 21vh;
    height: 21vh;
  }
}

/* Screens between tablet and mobile */
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .socials-resume {
    width: 4vw;
  }
  .home-button img {
    width: 4vw;
  }

  .socials-gmail {
    width: 4vw;
  }

  img.social-links {
    height: 10vh;
    width: 4.5vw;
  }
}

/* Screens equal to mobile */
@media screen and (max-width: 540px) {
  @keyframes scroll {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(-651px);
    }
  }

  .marquee {
    animation: scroll 15s linear infinite;
  }

  .socials-gmail {
    width: 9.8vw;
    height: 3vh;
    min-height: 35px;
    min-width: 35px;
  }

  section#information {
    margin-top: 12vw;
  }

  .info {
    padding-top: 5vw;
  }

  .desc-skill {
    font-size: 5.5vw;
  }

  .prev-experience {
    font-size: 4.5vw;
    margin-bottom: 3rem;
  }

  img.social-links {
    height: 5vh;
    width: 9vw;
  }

  .section-socials {
    gap: 10vw;
  }

  .project-button {
    width: 38vw;
    height: 12vw;
    font-size: 4vw;
  }

  .my-photo {
    width: 50vw;
    max-width: 317px;
    max-height: 402px;
  }

  .my-photo img.my-photo__image {
    width: 100%;
    height: auto;
  }

  .my-photo__play-btn {
    opacity: 0.85;
    width: 50%;
    height: 35%;
    margin: 0 auto;
  }

  .marquee-left {
    left: -3%;
    width: 50px;
  }

  .marquee-right {
    left: 85%;
    width: 50px;
  }

  .marquee {
    gap: 10vw;
  }

  .marquee-img {
    width: 3rem;
    height: 3rem;
  }

  section#work-experience > h1 {
    font-size: 10vw;
  }

  .list-component {
    margin: 0;
    width: 100%;
  }

  .list-component__item {
    width: 100%;
    padding: 0 0rem 0rem 2rem;
  }

  .list-component__card {
    padding: 3rem 2rem;
  }

  .list-component__card-title {
    font-size: 2rem;
  }

  .list-component__card-desc li {
    font-size: 1.2rem;
    text-align: left;
  }

  .list-component__skills {
    font-size: 1.2rem;
  }

  section#projects {
    padding-top: 1.5rem;
    width: 80vw;
  }

  .projects h1 {
    font-size: 11vw;
  }

  label {
    margin: 0;
    width: 6rem;
    height: 3rem;
    font-size: 1rem;
    margin-bottom: 3rem;
  }

  .cards-container__card {
    height: 76vh;
    max-height: 76vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 4vw;
  }

  .cards-container__card-img {
    width: 100%;
  }

  img.portrait-orient {
    display: none;
  }

  img.landscape-orient {
    display: block;
    width: 100%;
    max-height: 28vh;
    height: 28vh;
  }

  .cards-container__card-info {
    width: 100%;
    padding: 0;
    gap: 1rem;
  }

  .card-info__title {
    font-size: 7.5vw;
    margin-top: 1rem;
    text-align: center;
  }

  .card-info__desc {
    font-size: 4vw;
  }

  .card-info__stack ul {
    justify-content: center;
  }

  .card-info__stack img {
    width: 8vw;
    height: 8vw;
  }

  .card-info__links button {
    font-size: 4vw;
  }
}

@media screen and (max-width: 300px) {
  body {
    white-space: nowrap;
  }
}
